// Color
$white: #ffffff;
$lemon: #37ef7d;
$teal: #1dd864;
$lilac: #a346b1;
$dimblue: #437295;
$lightblue: #8ca6fc;
$orange: #f38000;
$skyblue: #009bff;
$black: #000000;
$underline: #d9dadc;
$h4_color: #2c2c36;
$subtitle: #707070;
$lemon14: #37ef7d14;
$lilac14: #a346b114;
$dimblue14: #43729514;